<app-header />

<main>
  <!-- <ul id="users">
    <li>
      <app-user [user]="users[0]" (select)="onSelectUser($event)" />
    </li>

    <li>
      <app-user [user]="users[1]" (select)="onSelectUser($event)" />
    </li>

    <li>
      <app-user [user]="users[2]" (select)="onSelectUser($event)" />
    </li>

    <li>
      <app-user [user]="users[3]" (select)="onSelectUser($event)" />
    </li>

    <li>
      <app-user [user]="users[4]" (select)="onSelectUser($event)" />
    </li>

    <li>
      <app-user [user]="users[5]" (select)="onSelectUser($event)" />
    </li>
  </ul> -->

  <!-- Using @For -->
  <ul id="users">
    @for (user of users; track user.id) {
    <li>
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li>
    }
  </ul>

  @if (selectedUserDetails) {
  <app-tasks [name]="selectedUserDetails.name"></app-tasks>
  } @else {
  <p id="falseBackMethod">Please select the user to see thier task</p>
  }
</main>
